
  <link rel="stylesheet" href="../css/index-style.css">

  <nav>

    <a href="#">SOBRE NOSOTROS</a>
    <a href="#">CONTACTOS</a>
    <a href="#">NOTICIAS</a>
    <div id="indicator"></div>
    <div id="color-line"></div>
    <div class="logo-container">
        <a href="/index"><img class="logo" src="https://storage.googleapis.com/primerstorage/logo_sin_fondo-removebg-preview.png" alt="Logo de la empresa"></a>
      </div>
  </nav>

